[Unit]
Description= Scrape twitter followers

[Service]
Type=simple
ExecStart=/home/blair/Projects/scrape_twitter/download_followers_6.py

[Install]
WantedBy=default.target




