[Unit]
Description= Daily scrape twitter followers

[Timer]
OnCalendar=daily 05:00:00
AccuracySec=1min
Persistent=true
Unit=twitter_scrape.service

[Install]
WantedBy=timers.target
