[Unit]
Description= Monthly email of wordpress page vies 

[Timer]
OnCalendar=*-*-02 05:30:00
AccuracySec=10min
Persistent=true
RandomizedDelaySec=400
Unit=wordpress_scrape.service

[Install]
WantedBy=timers.target
