[Unit]
Description= sync to dropbox

[Timer]
OnCalendar=*-*-*  04:00:00
RandomizedDelaySec=400
Persistent=true
Unit=clone_blog.service

[Install]
WantedBy=timers.target
