[Unit]
Description= Daily scrape of forbes billionaires

[Timer]
OnCalendar=*-*-* 17:50:00
AccuracySec=1sec
Persistent=true
Unit=forbes.service

[Install]
WantedBy=timers.target
