[Unit]
Description= Daily scrape forbes billionaires

[Service]
Type=simple
ExecStart=/home/blair/cloud_work/empirical_research/scrape_forbes/run.sh

[Install]
WantedBy=default.target




