[Unit]
Description= restart jellyfin server

[Timer]
OnCalendar=*-*-* 10:00:00
RandomizedDelaySec=600
AccuracySec=12h
Persistent=true
Unit=jellyfin_restart.service

[Install]
WantedBy=timers.target
