[Unit]
Description= restart jellyfin server

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true
Unit=jellyfin_restart.service

[Install]
WantedBy=timers.target
