[Unit]
Description= Daily backup of jellyfin metadata

[Timer]
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=600
AccuracySec=6h
Persistent=true
Unit=jellyfin_backup.service

[Install]
WantedBy=timers.target
