[Unit]
Description= Daily backup of jellyfin metadata

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=true
Unit=jellyfin_backup.service

[Install]
WantedBy=timers.target
