[Unit]
Description= Backup Blair's files

[Service]
Type=simple
ExecStart=/home/blair/cronjobs/active/blair_backup

[Install]
WantedBy=default.target
