[Unit]
Description= Daily backup of Blair's files

[Timer]
OnCalendar=*-*-* 01:00:00
RandomizedDelaySec=600
AccuracySec=2h
Persistent=true
Unit=blair_backup.service

[Install]
WantedBy=timers.target
