[Unit]
Description= sync to dropbox

[Timer]
OnCalendar=hourly
AccuracySec=1min
Persistent=true
Unit=dropsync.service

[Install]
WantedBy=timers.target
