[Unit]
Description= Backup media library

[Service]
Type=simple
ExecStart=/home/blair/cronjobs/active/media_backup

[Install]
WantedBy=default.target
