[Unit]
Description=hourly borg backup 

[Timer]
OnCalendar=00/6:20
RandomizedDelaySec=60
Persistent=true
Unit=borg_media.service

[Install]
WantedBy=timers.target
