[Unit]
Description=run flexget and mv finished files

[Timer]
OnCalendar=*:0,15,30,45
Persistent=true
Unit=television.service

[Install]
WantedBy=timers.target
