[Unit]
Description= Daily backup of media library

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=true
Unit=media_backup.service

[Install]
WantedBy=timers.target
