[Unit]
Description= Daily backup of media library

[Timer]
OnCalendar=*-*-* 22:00:00
RandomizedDelaySec=600
AccuracySec=6h
Persistent=true
Unit=media_backup.service

[Install]
WantedBy=timers.target
