[Unit]
Description= Daily backup of media librar

[Timer]
OnCalendar=daily
AccuracySec=2h
Persistent=true
Unit=media_backup.service

[Install]
WantedBy=timers.target
