[Unit]
Description=start pihole on startup

[Service]
Type=simple
ExecStart=/home/blair/cronjobs/active/pihole_start

[Install]
WantedBy=default.target




