[Unit]
Description= Daily scrape of wordpress email subscribers

[Timer]
OnCalendar=*-*-* 05:00:00
AccuracySec=3hour
Persistent=true
Unit=email_list.service

[Install]
WantedBy=timers.target
