[Unit]
Description= Daily backup to dropbox using rclone

[Service]
Type=simple
ExecStart=/home/blair/cronjobs/rclone

[Install]
WantedBy=default.target
