[Unit]
Description= Daily backup to dropbox using rclone

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=true
Unit=rclone.service

[Install]
WantedBy=timers.target
