[Unit]
Description= Daily backup to dropbox using rclone

[Timer]
OnCalendar=*-*-* 19:32:00
AccuracySec=1h
RandomizedDelaySec=600
Persistent=true
Unit=rclone.service

[Install]
WantedBy=timers.target
